In [1]:
import pandas as pd

In [3]:
df1=pd.read_csv('data/concat_1.csv')
df2=pd.read_csv('data/concat_2.csv')
df3=pd.read_csv('data/concat_3.csv')

In [4]:
df1

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

In [5]:
df2

    A   B   C   D
0  a4  b4  c4  d4
1  a5  b5  c5  d5
2  a6  b6  c6  d6
3  a7  b7  c7  d7

In [6]:
df3

     A    B    C    D
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

In [9]:
# 1,2,3값 연결하기
pd.concat([df1,df2,df3],axis=1)

    A   B   C   D   A   B   C   D    A    B    C    D
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11

In [10]:
new=pd.Series(['n1','n2','n3','n4'])
new

0    n1
1    n2
2    n3
3    n4
dtype: object

In [13]:
pd.concat([df1,new],axis=1)

    A   B   C   D   0
0  a0  b0  c0  d0  n1
1  a1  b1  c1  d1  n2
2  a2  b2  c2  d2  n3
3  a3  b3  c3  d3  n4

In [17]:
new_df=pd.DataFrame([['n1','n2','n3','n4']],columns=['A','B','C','D'])

In [19]:
pd.concat([df1,new_df],ignore_index=True)

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
4  n1  n2  n3  n4

In [22]:
pd.concat([df1,df2,df3],axis=0,ignore_index=True)

      A    B    C    D
0    a0   b0   c0   d0
1    a1   b1   c1   d1
2    a2   b2   c2   d2
3    a3   b3   c3   d3
4    a4   b4   c4   d4
5    a5   b5   c5   d5
6    a6   b6   c6   d6
7    a7   b7   c7   d7
8    a8   b8   c8   d8
9    a9   b9   c9   d9
10  a10  b10  c10  d10
11  a11  b11  c11  d11

In [27]:
df1.columns=['A','B','C','D']
df2.columns=['E','F','G','H']
df3.columns=['A','C','F','H']

In [30]:
pd.concat([df1,df3],axis=0,join='inner')
# 연결할때concat 바뀐부분만 inner로 보기

     A    C
0   a0   c0
1   a1   c1
2   a2   c2
3   a3   c3
0   a8   b8
1   a9   b9
2  a10  b10
3  a11  b11