In [5]:
import pandas as pd
import numpy as np

In [6]:
first_df = pd.read_csv('data/전국_평균_분양가격(2013년_9월부터_2015년_8월까지).csv', encoding='cp949')

In [7]:
first_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 22 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   지역        17 non-null     object
 1   2013년12월  17 non-null     int64
 2   2014년1월   17 non-null     int64
 3   2014년2월   17 non-null     int64
 4   2014년3월   17 non-null     int64
 5   2014년4월   17 non-null     int64
 6   2014년5월   17 non-null     int64
 7   2014년6월   17 non-null     int64
 8   2014년7월   17 non-null     int64
 9   2014년8월   17 non-null     int64
 10  2014년9월   17 non-null     int64
 11  2014년10월  17 non-null     int64
 12  2014년11월  17 non-null     int64
 13  2014년12월  17 non-null     int64
 14  2015년1월   17 non-null     int64
 15  2015년2월   17 non-null     int64
 16  2015년3월   17 non-null     int64
 17  2015년4월   17 non-null     int64
 18  2015년5월   17 non-null     int64
 19  2015년6월   17 non-null     int64
 20  2015년7월   17 non-null     int64
 21  2015년8월   17 non-null     int64
dtypes: int64(21), object(1)
memory usage: 3.0+ KB

In [8]:
last_df = pd.read_csv('data/주택도시보증공사_전국_평균_분양가격(2019년_12월).csv', encoding='cp949')

In [9]:
last_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4335 entries, 0 to 4334
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   지역명      4335 non-null   object
 1   규모구분     4335 non-null   object
 2   연도       4335 non-null   int64
 3   월        4335 non-null   int64
 4   분양가격(㎡)  4058 non-null   object
dtypes: int64(2), object(3)
memory usage: 169.5+ KB

In [10]:
last_df.head(2)

  지역명        규모구분    연도   월 분양가격(㎡)
0  서울          전체  2015  10    5841
1  서울  전용면적 60㎡이하  2015  10    5652

In [11]:
first_df.head(2)

,지역,2013년12월,2014년1월,2014년2월,2014년3월,2014년4월,2014년5월,2014년6월,2014년7월,2014년8월,...,2014년11월,2014년12월,2015년1월,2015년2월,2015년3월,2015년4월,2015년5월,2015년6월,2015년7월,2015년8월
0,서울,18189,17925,17925,18016,18098,19446,18867,18742,19274,...,20242,20269,20670,20670,19415,18842,18367,18374,18152,18443
1,부산,8111,8111,9078,8965,9402,9501,9453,9457,9411,...,9208,9208,9204,9235,9279,9327,9345,9515,9559,9581

In [12]:
# isna() = NaN값이 있는지
# isnull() = Null 값이 있는지
last_df.isnull().sum()

지역명          0
규모구분         0
연도           0
월            0
분양가격(㎡)    277
dtype: int64

In [13]:
True == 1

True

In [14]:
False == 0

True

In [15]:
True + True + False

2

In [16]:
first_df.isnull().sum()

지역          0
2013년12월    0
2014년1월     0
2014년2월     0
2014년3월     0
2014년4월     0
2014년5월     0
2014년6월     0
2014년7월     0
2014년8월     0
2014년9월     0
2014년10월    0
2014년11월    0
2014년12월    0
2015년1월     0
2015년2월     0
2015년3월     0
2015년4월     0
2015년5월     0
2015년6월     0
2015년7월     0
2015년8월     0
dtype: int64

In [17]:
last_df

     지역명               규모구분    연도   월 분양가격(㎡)
0     서울                 전체  2015  10    5841
1     서울         전용면적 60㎡이하  2015  10    5652
2     서울   전용면적 60㎡초과 85㎡이하  2015  10    5882
3     서울  전용면적 85㎡초과 102㎡이하  2015  10    5721
4     서울        전용면적 102㎡초과  2015  10    5879
...   ..                ...   ...  ..     ...
4330  제주                 전체  2019  12    3882
4331  제주         전용면적 60㎡이하  2019  12     NaN
4332  제주   전용면적 60㎡초과 85㎡이하  2019  12    3898
4333  제주  전용면적 85㎡초과 102㎡이하  2019  12     NaN
4334  제주        전용면적 102㎡초과  2019  12    3601

[4335 rows x 5 columns]

In [18]:
last_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4335 entries, 0 to 4334
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   지역명      4335 non-null   object
 1   규모구분     4335 non-null   object
 2   연도       4335 non-null   int64
 3   월        4335 non-null   int64
 4   분양가격(㎡)  4058 non-null   object
dtypes: int64(2), object(3)
memory usage: 169.5+ KB

In [19]:
# ValueError: invalid literal for int() with base 10: '  ' 
# 문자사이에 공백이 있는 것이 있어서 숫자로 변환이 안된다는 에러임
last_df['분양가격(㎡)'].astype(int)

ValueError: invalid literal for int() with base 10: '  '

In [ ]:
# 문제가 되는 데이터를 NaN으로 바꿔줌(errors = 'coerce')
last_df['분양가격'] = pd.to_numeric(last_df['분양가격(㎡)'], errors = 'coerce')

In [ ]:
# 100개 정도 NaN값이 있다는 것임
last_df.isnull().sum()

In [ ]:
# NaN은 실수형(float)이다.
# type(np.NaN) => float
# '분양가격'은  NaN이 있으므로 float
last_df.info()

In [ ]:
type(np.NaN)

In [ ]:
last_df['평당분양가격'] = last_df['분양가격'] * 3.3

In [ ]:
last_df['분양가격(㎡)'].describe()

In [ ]:
last_df['분양가격'].describe()

In [ ]:
# 중복값 빼기(유일값)
last_df['규모구분'].nunique()

In [ ]:
# 유일값 조회
last_df['규모구분'].unique()

In [ ]:
# 전용면적은 제거, 초과는 ~, 이하는 제거
last_df['전용면적'] = last_df['규모구분'].str.replace('전용면적', '')
last_df['전용면적'] = last_df['전용면적'].str.replace('초과', '~')
last_df['전용면적'] = last_df['전용면적'].str.replace('이하', '').str.strip()

In [ ]:
last_df

In [ ]:
# 필요없는 컬럼 제거
last_df.columns

In [ ]:
# 규모구분, 분양가격(m2) 제거하기

In [ ]:
# 제거하기 전 용량 확인 : 271.1+ KB
last_df.info()

In [ ]:
last_df.drop(columns=['규모구분', '분양가격(㎡)'], inplace = True)
# 덮어씌울거니까 inplace = True

In [ ]:
# column 2개 제거 후 용량 변화 : 203.3+ KB
last_df.info()

In [ ]:
last_df.groupby?

In [ ]:
help(last_df.groupby)

In [ ]:
def custome():
    '''
    함수 샘플 작성
    '''
    print('ggg')
    return

In [ ]:
custome?

In [ ]:
last_df.head(3)

In [ ]:
last_df.groupby(['지역명'])['평당분양가격'].mean()

In [ ]:
last_df[last_df['전용면적']=='전체'].groupby(['지역명'])['평당분양가격'].mean()

In [ ]:
last_df.groupby(['전용면적'])['평당분양가격'].mean()

In [ ]:
last_df.groupby(['전용면적','지역명'])['평당분양가격'].mean().to_frame().reset_index()

In [ ]:
# .transpose() == .T
last_df.groupby(['전용면적','지역명'])['평당분양가격'].mean().unstack().transpose()
last_df.groupby(['전용면적','지역명'])['평당분양가격'].mean().unstack().T

In [ ]:
last_df.groupby(['전용면적','지역명'])['평당분양가격'].mean()

In [ ]:
df = pd.DataFrame({'col_1' : [1, 2]}, index=['one', 'two'])
df

In [ ]:
# 컬럼 값이 인덱스로 보냄 : stack
df.stack()

In [ ]:
df.stack().index

In [ ]:
# 언스택은 인덱스로 되어있는 것을 컬럼으로 빼는 것
# 레벨값은 인덱스가 여러개(멀티)일 때 (level = 0 : 전용면적, level = 1 :평당분양가격)
last_df.groupby(['전용면적','평당분양가격'])['평당분양가격'].mean().unstack(level=0)

In [ ]:
last_df.groupby(['전용면적','지역명'])['평당분양가격'].mean().unstack(level=1)

In [ ]:
# 소수점 1의 자리까지 나오게
last_df.groupby(['전용면적','지역명'])['평당분양가격'].mean().unstack(level=1).round()

In [ ]:
# 연도별, 지역별 평당분양가격
# 연도가 위에 올라오게 하려면 level을 써도 되지만 transpose()를 써도 된다.
last_df.groupby(['연도','지역명'])['평당분양가격'].mean().to_frame().unstack(level=0).round()
last_df.groupby(['연도','지역명'])['평당분양가격'].mean().to_frame().unstack().transpose()

In [ ]:
# 지역별 평당분양가격 평균
last_df.groupby(['지역명'])['평당분양가격'].mean().to_frame()

In [ ]:
# 지역별 평당분양가격 평균
last_df.pivot_table(index='지역명', values='평당분양가격', aggfunc='mean')

In [ ]:
last_df.pivot_table(index='지역명', values='평당분양가격', aggfunc='max')

In [ ]:
last_df.pivot_table(index='전용면적', values='평당분양가격', aggfunc='mean')

In [ ]:
# default는 aggfunc='mean'
# pivot_table은 반환형이 dataframe임. 기본으로 to_frame()이 적용됨
# groupby은 반환형이 series
last_df.pivot_table(index='전용면적', columns = '지역명', values='평당분양가격')

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
g = last_df.groupby(['지역명'])['평당분양가격'].mean().to_frame()
# 범례가 생김 : 왜? -> to_frame()때문. to_frame() 안 쓸 경우 시리즈로 리턴되니까 컬럼이름이 없었기 때문이고 
# to_frame()쓰면 프레임이 되니까 평당분양가격이 컬럼이름으로 들어와서 범례가 만들어짐
g.plot()

In [ ]:
# kind : line이 디폴트임.
# kind = '문자열'로 작성
# g.plot(kind = 'barh')  ==   g.plot.barh()
g.plot(kind = 'barh')

In [ ]:
g.plot.barh()

In [ ]:
g.plot.bar(figsize=(10,3),rot=30 )

In [ ]:
# 지역별 평당분양가격을 그래프로.. 분양가격이 높은순서대로
g = last_df.groupby(['지역명'])['평당분양가격'].mean().sort_values(ascending=False).to_frame()

In [ ]:
g.plot.bar(rot=0, figsize=(10,3))

In [ ]:
# 연도별 평당분양가격을 그래프로. 분양가격이 높은 순서대로
g = last_df.groupby(['연도'])['평당분양가격'].mean().sort_values(ascending = False).to_frame()
g.plot.bar(rot = 30, figsize = (10, 3))

In [ ]:
# 연도별 평당분양가격 박스플롯으로 작성
g = last_df.groupby(['연도'])['평당분양가격'].mean().sort_values(ascending = False).to_frame()
g.plot.box()

In [ ]:
g.T

In [ ]:
g = last_df.pivot_table(index = '월', columns = '연도', values = '평당분양가격')
g.plot.box(figsize=(10, 3))

In [ ]:
g

In [ ]:
g = last_df.pivot_table(index = '월', columns = '전용면적', values = '평당분양가격')
g.plot.box(figsize=(10, 3))

In [ ]:
g

In [ ]:
# 연도별 평당분양가격의 파이그래프 그려보기
g = last_df.pivot_table(index = '연도', values = '평당분양가격')
g['평당분양가격'].plot.pie()

In [22]:
import seaborn as sns

In [23]:
# *는 값을 여러개로 묶어서 받음(튜플 또는 리스트로. 순서가 있는 형태로 받는다)
# ** 별 두개 :  딕셔너리로 받는다.
sns.barplot(data = last_df, x='지역명', y='평당분양가격', order = ['평당분양가격'])

ValueError: Could not interpret input '평당분양가격'

In [28]:
sns.catplot(data=last_df,x='연도',y='평당분양가격',kind='violin',col='지역명',col_wrap=4)

ValueError: Could not interpret input '평당분양가격'

In [ ]:
sns.relplot(data=last_df,x='연도',y='평당분양가격',kind='scatter',col='지역명',col_wrap=4,hue='월')

In [29]:
plt.figure(figsize(10,5))
sns.lineplot(data=last_df,x='연도',y='평당분양가격',hue='지역명')
plt.legend(bbox_to_anchor=(),loc=2)

ValueError: Could not interpret value `평당분양가격` for parameter `y`