In [1]:
import pandas as pd

In [6]:
pd.Series(['banana',42])
# 데이터 넣기

0    banana
1        42
dtype: object

In [8]:
pd.Series(['banana',42],index=['name','age'],name='kind')

name    banana
age         42
Name: kind, dtype: object

In [10]:
pd.DataFrame({
    'Name':['FramKlin','Gosset'],
    'Born':['1922-07-20','1950-02-02'],
    'Age':[37,61],


})

       Name        Born  Age
0  FramKlin  1922-07-20   37
1    Gosset  1950-02-02   61

In [12]:
# 예시 저장된 데이터를 많이쓰지만 만드는법은 알아야된다...
pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],
            columns=['a','b','c'])

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [15]:
df=pd.read_csv('data/scientists.csv',sep='\t')